# Estadistica en AI
La mejor forma de describir las caracteristicas de un conjunto de datos
## Tipos de variables
- Discretas: o categoricos. Datos de un conjunto finito de opciones, no se pueden hacer operaciones matematicas.
- Continuas: toman el valor de una recta numerica que tiende hacia el infinito. Deben ser cuantificables. Si se pueden operar

In [3]:
# Datos categoricos (identificar)
nombres =  ['Andres', 'Felipe', 'Silva']
correlativo = [1, 152, 158]

# Datos continuos (operar)
altura = [3.1, 5.2, 2.9]

# Diccionario que almacena datos categoricos y continuos
estructura = {
    'nombres': nombres,
    'correlativo': correlativo,
    'altura': altura
}
print(estructura)

{'nombres': ['Andres', 'Felipe', 'Silva'], 'correlativo': [1, 152, 158], 'altura': [3.1, 5.2, 2.9]}

# Reto extra
Utilizar la variable 'estructura' imprimir el nombre, correlativo y altura del cuatro registro

In [9]:
# Imprimir resultado
print(f'{estructura["nombres"][2]} {estructura["correlativo"][2]} {estructura["altura"][2]}')

Silva 158 2.9

# Pandas
Libreria de alto rendimiento para manipulacion de estructura de datos

In [11]:
# Manipulacion de datos
import pandas as pd

# Operaciones aritmericas
import numpy as np

# Creacion de graficos y visualizaciones
import matplotlib.pyplot as plt

En pandas los sets de datos se representan en estrcuturas llamadas **DataFrame**

In [14]:
# Creacion de DataFrame (matriz en formato tabla)
new_data = pd.DataFrame(estructura)

# Mostrar el contenido
new_data

  nombres  correlativo  altura
0  Andres            1     3.1
1  Felipe          152     5.2
2   Silva          158     2.9

En pandas las columnas se llaman **Series** y se accede como si fuera un diccionario, por ejemplo: nombre['serie']

In [15]:
# Obtener datos de serie nombres
new_data['nombres']

0    Andres
1    Felipe
2     Silva
Name: nombres, dtype: object

Cada registro de un _**DataFrame**_ se identifica con un indice, se accede utilizando la propiedad _**loc**_

In [16]:
new_data.loc[2]

nombres        Silva
correlativo      158
altura           2.9
Name: 2, dtype: object